.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
     -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
       -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
          transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
       -o-transform: scaleX(0.0001);
          transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top : 0;
  left : -250px;
  z-index: 1000;
  transition : 100ms left;
  height: 100%;
  background-color : #222;
}

.navigation-items.close-button {
  text-align: right;
  /*transition: 0.2s all ease-in-out;*/
}

.navigation-items.close-button > i {
  color: white;
  font-size: 24px;
  padding: 2px;
}

@keyframes shuffle {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.navigation-items.close-button:hover {
  /*transform: translateX(-10px);*/
  animation: shuffle 0.75s ease-in-out;
  animation-iteration-count: 9999;
}

#navigation-toggle {
  position : absolute;
  left : 250px;
  background : rgba(3,159,244,.95);
  color : white;
  text-decoration : none;
  /*padding : 10px 15px 10px 15px;*/
}
.show {
  left : 0;
  /*box-shadow: 5px 2px 15px -5px #000;*/
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.navigation {
  list-style : none;
  padding : 0;
  margin : 0;
}

.navigation-items {
  /*padding-left: 10px;*/
  /*width : 250px;*/
}

.navigation-items a {
  display : block;
  background-color : #222;
  color : white;
  line-height : 2em;
  text-decoration : none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding : 10px 30px;
  width : 250px;
  transition: 0.1s all ease-in-out;

}
.navigation-items a:hover {
  background-color : #444;
  /*transform: translateX(20px);*/
  font-size: 22px;
}

.nav-right {
  position: absolute;
  visibility: hidden;
  right: 0px;
  margin: 12px;
  transition : 100ms;
}

.custom-width {
  border-bottom: none;
  display: inline-flex;
  transition : 100ms;
}

#app-logo {
  transition : 100ms;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {
  .sidebar { 
    left: 0; 
  }
  /*.nav-right {
    right: 0px;
  }*/
  #content-view {
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    /*-webkit-transition: width 5s;*/
    /*transition: width 5s;*/
  }
  #app-logo {
    left: 250px;
    position: relative;
    transition : 100ms;
  }
  .navigation-items.close-button > i {
    color: transparent;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .nav-right {
    /*right: 0px;*/
    visibility: visible;
  }
  .custom-width {/*
    display: inline;
    position: absolute;
    bottom: 50px;*/
    font-size: 0px;
  }
}
/* SIDEBAR END */

.navbar { 
  border-radius:0;
  background-color: white;
}

.nav-tabs > li {
  margin-top: 20px;
}

.section-heading {
  padding-left: 20px;
}

.panel {
  /*height: 100%;*/
  /*margin-bottom: 0px;*/
}

.panel-primary {
  border: 0px solid #444444;
  border-radius: 0px;
}

.panel-primary > .panel-heading {
  background-color: #444444;
  border: 1px solid #444444;
  border-radius: 0px;
}

.panel-info-icon {
  background: none; 
  border: none; 
  padding: 0;
}

#utilization-chart {
  height: 100px;
  text-align: center;
}

.main-column > p {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  height: 100px;
}

table#cards-table {
    font-size:14px;
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#cards-table td, #cards-table th {
    /*border: 1px solid #ddd;*/
    text-align: left;
    padding: 8px;
}

/*#cards-table tr:nth-child(even){background-color: #f2f2f2}*/

#cards-table th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #4CAF50;
    color: white;
}

table#expectations-table {
    font-size:14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding: 0px; /*Remove padding between card and table*/
}

/*Make the last column take up remaining space in parent div*/
table td:last-child {
    /*width: 100%;*/
}

#expectations-table th {
    text-align: center;
}

@media (max-width: 767px) { 
  #expectations-table th {
    text-align: left;
  }
}

#expectations-table tr:hover {
    background-color: #eaf4ff;
}

#expectations-table tr:hover td {
    background-color: transparent; /* or #000 */
}

#expectations-table th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #444444;
    color: white;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); 
}